URxvt*background: black
URxvt*foreground: lightgray
URxvt*cursorColor: #ff0066
URxvt*font:xft:DejaVu Sans Mono-12

xterm*font: -misc-fixed-*-*-normal--14-120-75-75-C-70-iso10646-1
xterm*background: black
xterm*foreground: lightgray
xterm*cursorColor: #ff0066
Xft.dpi:        96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
